doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet")
  body(style="width: 650px;margin: 0;")
    .wrapper(style="position: relative;text-align: center;background-color: #f1f2f2;font-family: 'Exo', sans-serif;width: 650px;")
      .main(style=`text-align: left;background-image: url(${bg_general_code});height: 600px;	width: 650px;background-size: cover;align-items: center;`)
        img.logo(src=logo_plink style="padding-top: 95px;margin-bottom: 50px;display: block;margin-left: auto;margin-right: auto;")
        p.greetings(style="display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;height: 27px;	width: 147px;	color: #FDF8F1;	font-family: Exo;font-size: 20px;font-weight: bold;letter-spacing: 0.78px;	line-height: 27px;	") Felicitaciones!
        .subtitle(style="display: block;margin-left: auto;margin-right: auto;margin-top: 0px;height: 19px;	width: 541px;text-align: center;	color: #FFF1DE;	font-family: Exo;	font-size: 14px;	font-weight: 500;	letter-spacing: 0.55px;	line-height: 19px;") La oferta ya es tuya para que la redimas, recuerda presentar este codigo en el punto de venta al momento de redimir la oferta
        .white-coupon(style="width: 500px;margin-left: auto;margin-right: auto;margin-top: 50px;height:175px;")
          img.main-image(src=img_offer style="display: inline;height: 115.83px;width: 33%;border-radius: 10px;background-color: #FFFFFF;float: left;margin-left:15px")
          .left-coupon(style="width: 60%;display: inline;float: right;text-align: left;")
            .main-info(style="width: 300px;	color: #5C5C5C;	font-family: Exo;	font-size: 16px;	font-weight: 600;	letter-spacing: 0.97px;	line-height: 23px;")
              | #{value_strategy} en #{product} pagando con tus tarjetas Bancolombia
            .offer(style="display: block;margin-top: 10px; margin-bottom:7px; height: 19px;width: 231px;color: #FF6500;font-family: Exo;font-size: 14px;font-weight: 500;letter-spacing: 0.86px;line-height: 19px;") Oferta valida hasta: #{expiration}
            .brand-info(style="display: block;height: 56px;width: 249px;")
              img.brand-logo(src=brand_logo style="height: 54.66px;	float:left; display:inline;")
              .brand-data(style="color: #9B9B9B;font-family: Exo;font-size: 14px;font-weight: 500;letter-spacing: 0.8px;line-height: 19px;float: left;display: inline;padding-top: 10px;margin-left: 10px;")
                .brand-name #{name_retail}
                .brand-adress #{addres}
        .grey-cupon(style="width: 240px;margin-left: auto;margin-right: auto;margin-top: 15px;")
          div(style="height: 19px;	width: 140px;	color: #5F5E5E;	font-family: Exo;	font-size: 14px;	font-weight: 500;	letter-spacing: 0.86px;	line-height: 19px;    margin-left: auto;margin-right: auto;")
            | Mi código de cupon
          div(style="height: 31px;	width: 242px;	color: #0D63F9;	font-family: Exo;	font-size: 30px;	font-weight: 600;	letter-spacing: 1.71px;	line-height: 31px;    margin-left: auto;margin-right: auto;margin-top: auto;text-align:center")
            | #{code}
          .tickets(style="margin-left: auto;margin-right: auto;width: 125px;height: 20px;margin-top: 3px;")
            img.ticket(src=ticket style="box-sizing: border-box;height: 9.67px;width: 13.9px;display: inline;float: left;margin-top: 3px;margin-right: 5px;")
            div(style="height: 17px;width: 105px;color: #4B4B4B;font-family: Exo;font-size: 13px;font-weight: 500;letter-spacing: 0.8px;line-height: 17px;display: inline;float: left;")
              | #{available} disponibles
      .tyc-section(style="display: block;margin-left: auto;margin-right: auto;width: 523.3px;color: #757575;font-family: Exo;font-size: 12px;font-weight: 500;letter-spacing: 0.74px;line-height: 16px;background-color: #f1f2f2;margin-top: 20px;")
        .tyc-title(style="height: 19px;width: 162px;color: #424242;font-family: Exo;font-size: 14px;font-weight: 600;letter-spacing: 0.8px;line-height: 19px;")
          | Condiciones generales
        .tyc-text(style="width: 523.3px;color: #757575;font-family: Exo;font-size: 12px;font-weight: 500;letter-spacing: 0.74px;line-height: 16px;margin-top: 15px;text-align: left;")
          | - BANCOLOMBIA S.A. sólo es el emisor de los medios de pago a través de los
          | cuales se puede acceder a los beneficios mencionados. Los beneficios aquí
          | descritos son ofrecidos y asumidos por #{name_retail} lo tanto, son ellos los responsables de la oferta, la venta, la entrega, el funcionamiento y la garantía de los mismos.<br />  <br />
          |
          | - Los Productos y Servicios Financieros son ofrecidos por Bancolombia.<br />  <br />
          | Producto de crédito sujeto a reglamento.
          |
          | - El beneficio corresponde a #{value_strategy} off en #{name_retail} con #{product}.<br />  <br />
          |
          | - El beneficio aplica en la tienda física: #{addres}.<br />  <br />
          |
          | - Este beneficio no es acumulable con bonos de compra, otros descuentos y/o promociones vigentes en el punto de venta. No aplica para domicilios.<br />  <br />
          |
          | - Bancolombia podrá realizar modificaciones, adiciones o eliminaciones a los
          | presentes términos y condiciones en caso de considerarlo necesario.<br />  <br />
          |
          | - La calidad, idoneidad, seguridad y garantía de los productos y servicios
          | ofrecidos son responsabilidad exclusiva de #{name_retail}.<br />  <br />
          |
          | - Es indispensable mencionar la actividad promocional al momento de realizar el
          | pedido, y únicamente para clientes que realicen el pago con tarjetas
          | Bancolombia.<br />  <br />
          |
          | - Descuento válido hasta  #{expiration}.<br />  <br />
          |
          | - Aplica únicamente para la totalidad de compras hechas tarjetas Bancolombia.<br />  <br />
          |
          | - El beneficio es personal e intransferible, y no es canjeable por efectivo u otros
          | bienes y/o servicios. El cumplimiento de las normas de comercialización de los
          | productos y/o servicios es total y exclusiva responsabilidad de #{name_retail}.<br />  <br />
          |
          | - Las imágenes de los productos son de referencia.<br />  <br />
      .contact(style=`width: 650px;	height: 125px;background-color: #f1f2f2;	background-image: url(${bg_footer});`)
      .disclaimer(style="background-color: #ffffff;display: block;margin-left: auto;margin-right: auto;")
        img.superintendence(src=logo_superintendence style="float: left;padding-left: 30px")
        .contact-info(style='display: block;margin-left: auto;margin-right: auto;color: #FF6500;')
          .contact-title(style='font-family: Exo;	font-size: 15px;	letter-spacing: 0.58px;	line-height: 20px;')
            | Manteng&aacute;monos en cont&aacute;cto
          .contact-email(style='font-family: Exo;font-size: 15px;	font-weight: bold;	letter-spacing: 0.58px;	line-height: 20px;margin-bottom:40px;')
            a(style='color: #FF6500 !important') hello@plink.com.co
        div
          .logos_container( style='display: flex; justify-content: center;')
            img.footer-logo(src=logo_bancocolombia style='width:146px;height:45px;margin-left:auto;')
            img.mail-separator(src=mail_separator style='width:3px;height:45px; margin-right: 50px; margin-left: 50px;')
            img.brand-footer-logo(src=brand_logo style='height:45px;margin-right:auto;')
        hr.dotted-line2(style="display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px; margin-top:45px; width: 150px;border-top: dashed 0px #E0DEDE;height: 0px;")
        .disclaimer-conatiner(style="display: block;margin-left: auto;margin-right: auto;height: 65px;width: 602.95px;color: #4A4A4A;font-family: Exo;font-size: 10px;letter-spacing: 0.39px;line-height: 13px;text-align: center;margin-top: 18px;margin-bottom: 18px;")
          .disclaimer-text
            | “Bancolombia nunca le solicitará datos financieros como usuarios, claves, números de tarjetas de crédito con sus códigos de seguridad y fechas de vencimiento mediante vínculos de correo electrónico o llamadas telefónicas.
          .disclaimer-text2(style="margin-top: 10px;font-family: Exo;")
            | Para verificar la autenticidad de este correo electrónico puede reenviarlo a
          .disclaimer-email(style="font-weight: bold;font-family: Exo;")
            | correosospechoso@bancolombia.com.co.”
        hr.dotted-line2(style="display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;width: 150px;border-top: dashed 0px #E0DEDE;height: 0px;")
        .footer(style="display: block;margin-left: auto;margin-right: auto;text-align: center;width: 540px;background-color: #ffffff;color: #FF6500;font-size: 10px;font-weight: 500;letter-spacing: 0.39px;line-height: 13px;margin-top: 20px;font-family: Exo;")
          | PLINK es una marca de Bancolombia S.A. Los productos y servicios ofrecidos a través de PLINK , son otorgados por Bancolombia S.A. Copyright © 2018 GRUPO BANCOLOMBIA.
