doctype transitional
head
  meta(charset='UTF-8')
  title Plink
style.
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
table(cellpadding='0' cellspacing='0' style='max-width:650px;margin:0 auto;background:#fff;width:650px;height:100%;border-collapse:collapse;')
  tr
    td(background=bg_expired_general bgcolor='#ffffff' width='650' height='702' valign='top')
      //[if gte mso 9]
      v:rect(xmlns:v='urn:schemas-microsoft-com:vml' fill='true' stroke='false' style='width:650px;height:702px;')
        v:fill(type='tile' src=bg_expired_general color='#ffffff')
          v:textbox(inset='0,0,0,0')
            //[endif]
            div
              table(cellpadding='0' cellspacing='0' style='max-width:650px;margin:0 auto;width:650px;height:100%;border-collapse:collapse;')
                tr
                  td(style='text-align: center;padding:40px 90px 50px;')
                    img(width='115' height='56' src=logo_plink)
                tr
                  td(style='text-align: center;padding-bottom:20px;')
                    img(width='106' height='82' src=ic_error_mail alt='')
                tr
                  td(style="color: #fff;text-align: center;font-size: 20px;font-weight: bold;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px;padding:0 90px;")
                    | La oferta ya caduc&oacute;
                tr
                  td(style="color: #fff;text-align: center;font-size: 14px;font-weight: normal;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px;padding:0 75px;line-height: 1.2;")
                    | La siguiente oferta ya no esta disponible
                tr
                  td(style='padding: 50px 0 60px;')
                    table(cellpadding='12' cellspacing='0' style='max-width:650px;margin:0 auto;width:650px;height:100%;border-collapse:collapse;')
                      tr
                        td(style='width: 40%; vertical-align: top; padding-left: 69px;')
                          img(width='180' height='114' style='width: 180px; border-radius: 10px;' src=img_offer)
                        td(style='padding-right: 69px;padding-bottom: 5px;')
                          table(cellpadding='0' cellspacing='0' style='max-width:308pxpx;margin:0 auto;width:308px;height:100%;border-collapse:collapse;')
                            tr
                              td(colspan='2' style='color: #5c5c5c;font-family: Exo, Arial, sans-serif;font-size: 14px;font-weight: bold;letter-spacing: 0.97px;line-height: 1.3;padding-bottom: 10px;')
                                | #{value_strategy} en #{product} pagando con tus tarjetas Bancolombia
                            tr
                              td(colspan='2' style='color: #9b9b9b;font-family: Exo, Arial, sans-serif;font-size: 12px;font-weight: normal;letter-spacing: 0.97px;line-height: 1.3;padding-bottom: 15px;')
                                | Oferta caduc&oacute;: #{expiration}
                            tr
                              td(style='width: 20%; padding-right: 10px;')
                                img(width='47' height='43' style='width: 47px;' src=brand_logo)
                              td
                                table(cellpadding='0' cellspacing='0' style='max-width:247px;margin:0 auto;width:247px;height:100%;border-collapse:collapse;')
                                  tr
                                    td(style='color: #9b9b9b;font-family: Exo, Arial, sans-serif;font-size: 12px;font-weight: normal;letter-spacing: 0.97px;line-height: 1.3;')
                                      | #{name_retail}
                                  tr
                                    td(style='color: #9b9b9b;font-family: Exo, Arial, sans-serif;font-size: 12px;font-weight: normal;letter-spacing: 0.97px;line-height: 1.3;')
                                      | #{address}
            //[if gte mso 9]
      //[endif]
  tr
    td(bgcolor='#ffffff' width='684' height='200' valign='top')
      div
        table(cellpadding='0' cellspacing='0' style='max-width:650px;margin:0 auto;width:650px;height:200px;border-collapse:collapse;')
          tr
            td(valign='top' rowspan='3' style='width: 50px;padding-left: 30px;')
              img(width='19' height='196' src=logo_superintendence alt='')
            td &nbsp;
          tr
            td(valign='top' style="padding: 0 72px;color: #ff6500;font-size: 14px;font-weight: normal;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px; text-align: center;")
              | Manteng&aacute;monos en cont&aacute;cto
              br
              a(href='mailto:hello@plink.com.co' style='color: #ff6500;text-decoration: none; font-weight: bold;') hello@plink.com.co
          tr
            td(valign='middle' style='text-align: center;')
              img(width='146' height='35' src=logo_bancocolombia alt='')
              span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              img(width='3' height='34' src=mail_separator alt='')
              span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              img(width='47' height='43' src=brand_logo alt='')
  tr
    td(style="text-align:center;padding: 0 80px 15px; font-size: 11px; color: #4a4a4a;font-weight: normal;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px;")
      hr(style='width: 160px;border: 2px dashed #e0dede;margin-bottom: 25px;')
      |  Bancolombia nunca le solicitar&aacute; datos financieros como usuarios, claves, n&uacute;meros de tarjetas de cr&eacute;dito con sus
      |           c&oacute;digos de seguridad y fechas de vencimiento mediante v&iacute;nculos de correo electr&oacute;nico o llamadas telef&oacute;nicas.
      br
      br
      | Para verificar la autenticidad de este correo electr&oacute;nico puede reenviarlo a
      br
      a(style="font-size: 11px; color: #4a4a4a;font-weight: bold;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px; text-decoration: none;" href='mailto:correosospechoso@bancolombia.com.co') correosospechoso@bancolombia.com.co
  tr
    td(style="text-align:center;padding: 0 80px; font-size: 11px; color: #ff6500;font-weight: normal;font-family: 'Exo', Arial, sans-serif;letter-spacing: 0.78px; padding-bottom: 50px;")
      hr(style='width: 160px;border: 2px dashed #e0dede;margin-bottom: 25px;')
      |  PLINK es una marca de Bancolombia S.A. Los productos y servicios ofrecidos a trav&eacute;s de PLINK , son otorgados por
      |           Bancolombia S.A. Copyright &copy; 2018 GRUPO BANCOLOMBIA.
// fix for Gmail auto-resize
div(style='display:none;font:15px courier;font-family:avenir, Helvetica, Arial, sans-serif;line-height:0;margin:0;padding:0;white-space:nowrap;')
