doctype html
head
  link(href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet')
.wrapper(style="position: relative;text-align: center;background-color: #f1f2f2;font-family: 'Exo', sans-serif;width: 650px;")
  .main(style=`text-align: left;background-image: url(${bg_expired_general});    height: 553px;	width: 650px;background-size: cover;align-items: center;`)
    img.logo(src=logo_plink style='padding-top: 30px;margin-bottom: 50px;display: block;margin-left: auto;margin-right: auto;')
    img.logo(src=ic_error_mail style='margin-bottom: 35px;display: block;margin-left: auto;margin-right: auto;')
    p.greetings(style='display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;height: 27px;	width: 198px;	color: #FDF8F1;	font-family: Exo;font-size: 20px;font-weight: bold;letter-spacing: 0.78px;	line-height: 27px;	') La oferta ya caduc&oacute;
    .subtitle(style='display: block;margin-left: auto;margin-right: auto;margin-top: 0px;height: 19px;	width: 541px; text-align: center;	color: #FFF1DE;	font-family: Exo;	font-size: 14px;	font-weight: 500;	letter-spacing: 0.55px;	line-height: 19px;') La siguiente oferta ya no esta disponible
    .white-coupon(style='width: 500px;margin-left: auto;margin-right: auto;margin-top: 50px;height:175px;')
      img.main-image(src=img_offer style='display: inline;height: 115.83px;width: 33%;border-radius: 10px;background-color: #FFFFFF;float: left;')
      .left-coupon(style='width: 60%;display: inline;float: right;text-align: left;')
        .main-info(style='width: 300px;	color: #5C5C5C;	font-family: Exo;	font-size: 16px;	font-weight: 600;	letter-spacing: 0.97px;	line-height: 23px;')
          | #{value_strategy} en #{product} pagando con tus tarjetas Bancolombia
        .offer(style='display: block;padding-top: 5px;padding-bottom: 10px;width: 231px;color: #9B9B9B;font-family: Exo;font-size: 14px;font-weight: 500;letter-spacing: 0.86px;line-height: 19px;') Oferta caduc&oacute;: #{expiration}
        .brand-info(style='display: block;height: 56px;width: 249px;')
          img.brand-logo(src=brand_logo style='height: 54.66px;	float:left; display:inline; width: 20%;')
          .brand-data(style='color: #9B9B9B;font-family: Exo;font-size: 14px;font-weight: 500;letter-spacing: 0.8px;line-height: 19px;float: left;display: inline;width: 77%;padding-top: 10px;margin-left: 3%;')
            .brand-name #{name_retail}
            .brand-adress #{addres}
  .contact(style=`width: 650px;	height: 125px;background-color: #f1f2f2;	background-image: url(${bg_footer});`)
  .disclaimer(style='background-color: #ffffff;display: block;margin-left: auto;margin-right: auto;')
    img.superintendence(src=logo_superintendence style='float: left;padding-left: 30px')
    .contact-info(style='display: block;margin-left: auto;margin-right: auto;color: #FF6500;')
      .contact-title(style='font-family: Exo;	font-size: 15px;	letter-spacing: 0.58px;	line-height: 20px;')
        | Manteng&aacute;monos en cont&aacute;cto
      .contact-email(style='font-family: Exo;font-size: 15px;	font-weight: bold;	letter-spacing: 0.58px;	line-height: 20px;margin-bottom:40px')
        a(style='color: #FF6500 !important') hello@plink.com.co
    .logos-container(style='display: flex; justify-content: center; ')
      img.footer-logo(src=logo_bancocolombia style='width:146px;height:45px;margin-left:auto;')
      img.mail-separator(src=mail_separator style='width:3px;height:45px; margin-right: 50px; margin-left: 50px; ')
      img.brand-footer-logo(src=brand_logo style='height:45px;margin-right: auto;')
    hr.dotted-line2(style='display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;width: 150px;border-top: dashed 0px #E0DEDE;height: 0px;margin-top:45px;')
    .disclaimer-conatiner(style='display: block;margin-left: auto;margin-right: auto;height: 65px;width: 602.95px;color: #4A4A4A;font-family: Exo;font-size: 10px;letter-spacing: 0.39px;line-height: 13px;text-align: center;margin-top: 18px;margin-bottom: 18px;')
      .disclaimer-text(style='font-family: Exo;')
        | &ldquo;Bancolombia nunca le solicitar&aacute; datos financieros como usuarios, claves, n&uacute;meros de tarjetas de cr&eacute;dito con sus c&oacute;digos de seguridad y fechas de vencimiento mediante v&iacute;nculos de correo electr&oacute;nico o llamadas telef&oacute;nicas.
      .disclaimer-text2(style='margin-top: 10px;font-family: Exo;')
        | Para verificar la autenticidad de este correo electr&oacute;nico puede reenviarlo a
      .disclaimer-email(style='font-weight: bold;font-family: Exo;')
        | correosospechoso@bancolombia.com.co.&rdquo;
    hr.dotted-line2(style='display: block;margin-left: auto;margin-right: auto;margin-bottom: 0px;width: 150px;border-top: dashed 0px #E0DEDE;height: 0px;')
    .footer(style='display: block; font-family: Exo; margin-left: auto;margin-right: auto;text-align: center;width: 540px;background-color: #ffffff;color: #FF6500;font-size: 10px;font-weight: 500;letter-spacing: 0.39px;line-height: 13px;margin-top: 20px;')
      | PLINK es una marca de Bancolombia S.A. Los productos y servicios ofrecidos a trav&eacute;s de PLINK , son otorgados por Bancolombia S.A. Copyright &copy; 2018 GRUPO BANCOLOMBIA.
